!!!
%html
  %head
    %title callinwith.us
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rock Salt&subset=latin"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :property => 'og:title', :content => 'callinwith.us' }
    %meta{ :property => 'og:type', :content => 'website' }
    %meta{ :property => 'og:url', :content => 'http://callinwith.us/' }
    %meta{ :property => 'og:image', :content => 'http://callinwith.us/logo.png' }
    %meta{ :property => 'og:site_name', :content => 'callinwith.us' }
    %meta{ :property => 'og:description', :content => 'Super simple conference calls!' }
    %meta{ :property => 'fb:app_id', :content => ENV['FACEBOOK_APP_ID'] }
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25758557-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    #wrapper
      #header
        %h1 Call in with us
      #content
        = yield
      #footer
        %p Created by #{ link_to "Jeff Dickey", "http://jeffdickey.info" }. Bug him if it's broken.
    #donate
      %p Keep callinwith.us working and #{ link_to "Donate!", "https://www.wepay.com/donate/callinwithus" }
    #uk
      %p In the UK? Use <b>+44 1290211986</b> instead.
    #social-plugins
      #twitter
        :plain
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="dickeytk">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      #facebook
        :plain
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#appId=134301950002063&xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="http://callinwith.us/" data-send="true" data-layout="button_count" data-width="90" data-show-faces="false"></div>
    .ad
      :javascript
        google_ad_client = "ca-pub-9155398064416893";
        google_ad_slot = "9761032237";
        google_ad_width = 728;
        google_ad_height = 90;
      = javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
