!!!
%html
  %head
    %title callinwith.us
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rock Salt&subset=latin"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #header
        %h1 callinwith.us
      #content
        = yield
      #footer
        %p Created by #{ link_to "Jeff Dickey", "http://jeffdickey.info" }. Bug him if it's broken.
