!!!
%html
  %head
    %title callinwith.us
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Rock Salt&subset=latin"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25758557-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    #wrapper
      #header
        %h1 Call in with us
      #content
        = yield
      #footer
        %p Created by #{ link_to "Jeff Dickey", "http://jeffdickey.info" }. Bug him if it's broken.
